@charset "utf-8";

@font-face {
            font-family: 'Amatic SC';
            src: url("../fonts/AmaticSC-Regular.ttf");
        }

@font-face {
            font-family: 'Open Sans';
            src: url("../fonts/OpenSans-Regular.ttf");
        }
/* @font-face {
            font-family: 'Oswald';
            src: url("../fonts/AvenirNextLTPro-Cn.ttf");
        }
@font-face {
            font-family: 'OswaldRegular';
            src: url("../fonts/Oswald-Regular.ttf");
        } */

@font-face {
            font-family: 'AvenirNextLTProCn';
            src: url("../fonts/AvenirNextLTPro-Cn.ttf");
        }
@font-face {
            font-family: 'AvenirNextLTProBoldCn';
            src: url("../fonts/AvenirNextLTPro-BoldCn.ttf");
        }
@font-face {
            font-family: 'AvenirNextLTProDemiCn';
            src: url("../fonts/AvenirNextLTPro-DemiCn.ttf");
        }
@font-face {
            font-family: 'AvenirNextLTProDemiBoldCn';
            src: url("../fonts/AvenirNextLTPro-DemiBoldCn.ttf");
        }




img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.ir {
	border: 0;
	background-color: transparent;
	text-indent: -9999px;
	overflow: hidden;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}


.wp-caption {
	max-width: 100% !important;
}

.wp-caption img {
	display: block;
	margin: 0 0 0 5px;
}

.wp-caption a {
	display: block;
}

.wp-caption-text {
	margin: 0 5px 5px;
	padding: 7px 5px;
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
	line-height: 17px;
	text-align: center;
	color: #eee;
}

.alignleft {
	margin-right: 45px;
	margin-bottom: 25px;
	float: left;
}

.wp-caption.alignleft {
	margin-left: -5px;
	margin-right: 45px;
}

.alignright {
	margin-left: 45px;
	margin-bottom: 25px;
	float: right;
}

.wp-caption.alignright {
	margin-left: 45px;
	margin-right: -5px;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

.wp-caption.aligncenter {
	margin-bottom: 1.6154em;
}


html,
button,
input,
select,
textarea {
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
	margin: 0;
}


html {
	height: 100%;
	font: 400 12px/1.4167 'Open Sans', Arial, sans-serif;
}

body {
	height: 100%;
	background: #ead5b9;
	color: #000;
}

#sitewrap {
	position: relative;
	width: 100%;
	height: 100%;
    background: url(../img/bg01.jpg) no-repeat;
	background-size: cover; 
	overflow: hidden;   
}


a,
a:visited {
	text-decoration: none;
	cursor: pointer !important;
	outline: none;
	color: #222;
}

a:hover,
a:visited:hover {
	color: #ec2882;
}

a img {
    border: 0;
}


.linklist {
	padding: 0;
	list-style: none;
}

.upper { text-transform: uppercase; }
.centered { text-align: center; }


h1 {
	padding: 0;
	font-family: 'Amatic SC', Arial, sans-serif;
	font-size: 1.8333rem;
	font-weight: 700;
	line-height: 1.1364;
}

h2 {
	font-family: 'Amatic SC', Arial, sans-serif;
	padding: 0 0 0.4em;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.54;
}

h3,
h4 {
	padding: 0 0 1em;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.6154;
}

p {
	padding: 0 0 1.4167em;
}

ul {
	padding: 0 0 1.4167em 17px;
}

ul ul,
ol ul {
	padding: 0 0 3px 17px;
	list-style: disc;
}

ol {
	padding: 0 0 1.4167em 21px;
}

ol ol,
ul ol {
	padding: 0 0 3px 21px;
}


#tailbar {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 37px;
	background: #fff;
	text-align: center;
	overflow: hidden;
}

#tailbar img {
	max-width: 100%;
	height: auto;
}

#tailbar ul,
#tailbar ul li {
	width: 100%;
	height: 37px;
}

#tailbar ul li+li {
	display: none;
}


#maincontent {
/*	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 37px;
	background: url(../img/bg-tile.jpg) no-repeat; 
	background-size: cover; 
	overflow: hidden; */
}

#deviceready {
	position: absolute;
	left: 0;
	top: 0;
    width: 100%;
    height: 100%;
}

#maincontent img {
	width: 100%;
	height: auto;
    margin: 20px 0;
}

#maincontent>header {
	position: relative;
	height: 105px;
	/* background: url(../img/bg-header.jpg) 0 0 no-repeat; */
	background-size: cover;
}

#mapcontent img {
    
}

#mapheader {
    z-index: 100;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: none;
}

#mapmenu {
    z-index: 50;
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 100%;
    font-size: 1.4rem;
    font-family: 'Amatic SC', Arial, sans-serif;
    background-color: none;
}

.mapmenuitem {
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
}

#maparea {
    z-index: 50;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: auto;
    height: auto;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

#mainscreen-header {
    width: 100%;
	height: 150px;
  /*  background: url(../img/main_header.jpg) 0 0 no-repeat; */
	background-size: cover;
}

.mainmenu {
    margin-left:auto;
    margin-right:auto;
    width:70%;
}

.mainmenu_item {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
	font-size: 4rem; 
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-height: 400px) {
    #mainscreen-header {
        height: 100px;
    }
    
    .mainmenu_item {
        font-size: 2rem; 
    }
}

@media screen and (max-height: 600px) and (min-height: 401px) {
    #mainscreen-header {
        height: 150px;
    }
    
    .mainmenu_item {
        font-size: 3rem; 
    }
}


#header-content {
	position: absolute;
	left: 0;
	bottom: -3px;
	border-bottom: 1px dotted #d6af78;
	padding: 0 0 5px 15px;
	font-family: 'Amatic SC', Arial, sans-serif;
	font-size: 1.8333rem;
	font-weight: 700;
	line-height: 1.1364;
	text-shadow: rgba(255,255,255,0.5) 0 1px 0;
    width:100%;
}

#maincontent-scroll {
	position: absolute;
	left: 0;
	top: 110px;
	right: 5px;
	bottom: 40px;
	padding: 5px 17px 0 23px;
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;	
}

#maincontent-sponsor {
	

}

#maincontent-sponsor-scroll {
  -moz-hyphens: auto;
    bottom: 70px;
    left: 0;
    	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px 17px 0 23px;
    position: absolute;
    right: 5px;
    top: 0;
}
#maincontent-sponsor img {
	margin:0;
}

#badge-backlink-sponsor {
	width: 43px;
	height: 45px;
	left: 10px;
	top: 18px;
	background-image: url(../img/badge-backlink-sponsor.png);
    position: absolute;
    z-index: 9999;
}

#band-content p {
    color: #000000;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-transform: none
}


#maincontent-scroll>:last-child {
	padding-bottom: 10px;
}


#contentmeta {
	padding: 0 0 10px;
	font-family: 'Amatic SC', Arial, sans-serif;
	font-size: 1.8333rem;
	font-weight: 700;
	line-height: 1.1364;
	color: #886733;
}

#contentmeta p {
	padding-bottom: 0;
}

.starred:before,
.unstarred:before {
	content: "";
	display: inline-block;
	width: 19px;
	height: 18px;
	background: url(../img/icon-unstarred.png) no-repeat;
	margin: 0 7px 3px 0;
	vertical-align: middle;
}

.starred:before {
	background-image: url(../img/icon-starred.png);
}


#daynavi li {
	display: inline-block;
	vertical-align: top;
}

#daynavi li+li {
	margin-left: 10px;
}

#daynavi li a {
	display: block;
	color: #482703;
}

#daynavi .current-menu-item a,
#daynavi a:hover {
	display: inline-block;
	color: #ec2882;
}


#artistlist {
	font-family: 'Amatic SC', Arial, sans-serif;
	font-size: 1.8333rem;
	font-weight: 700;
	line-height: 1.1364;
}

#artistlist li {
	padding-bottom: 2px;
}

#artistlist li+li {
	border-top: 1px dotted #d6af78;
	padding: 2px 0;
}


#banner {
    position:fixed; 
    bottom:0px; 
    height:auto; 
    left: 0px;
    width:100%;   
    z-index: 100;
}

#banner img {
    width: 100%;
    height: auto;
}

#timetable-scroll {
	position: absolute;
	left: 0;
	top: 105px;
	right: 0;
	bottom: 0;
	padding: 0;
	overflow: hidden;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;	
/*    right: 0px;
    bottom: 0px;
    width: auto;
    height: auto; */

}

#timetable-scrollarea {
	position: absolute;
	left: 0;
	top: 0px;
	right: 0;
	bottom: 0;    
    overflow: scroll;
    -webkit-overflow-scrolling: touch;    
}

#timetable-scrollcontent {
	position: absolute;
	left: 75px;
	top: 10px;
	width: 2040px;
}

#hourlist li {
	position: relative;
	display: inline-block;
	width: 150px;
	vertical-align: top;
}

#hourlist li+li:before {
	content: "";
	display: block;
	position: absolute;
	left: -1px;
	top: 22px;
	width: 0;
	height: 310px;
	border-left: 1px dotted #e6bf88;
	z-index: 0;
}


#stagenames {
	position: absolute;
	left: 0;
	top: 32px;
	z-index: 2;
}

#stagenames .stagename {
	width: 59px;
	height: 40px;
	padding: 5px 8px;
	font-family: 'Amatic SC', Arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
}

#stagenames .stagename+.stagename {
	margin-top: 1px;
}

.main{
    background: #E52977;
}

.kaleva{
    background: #F0BC00;
}

.kooma{
    background: #5CC5ED;
}

.beat{
    background: #E6441F;
}

.circus{
    background: #0081C2;
}

.oulu{
    background: #EC78A9;
}



.stagetimetable {
	position: relative;
	width: 100%;
	height: 50px;
	border-top: 1px dotted #d6af78;
	margin-top: 4px;
	overflow: hidden;
	z-index: 1;
}

.stagetimetable+.stagetimetable {
	margin-top: 0;
}


.stagetimetable .artist {
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	height: 46px;
	margin: 2px 0;
	background: rgba(191,159,115,0.5);
	vertical-align: top;
}

.stagetimetable .artist>div {
	width: 100%;
	padding: 5px 7px 0;
	font-size: 11px;
	line-height: 15px;
	white-space: nowrap;
	overflow-x: visible;
	overflow-y: hidden;
}

.stagetimetable .artist h1 {
	padding: 0 0 2px;
	font-size: 10px;
	line-height: 1;
	overflow: hidden;
	text-overflow: ellipsis;
    font-family: 'Open Sans', Arial, sans-serif;
    width:79%;
    height:16px;
    text-transform: uppercase;
}


h1.band-title {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}


#band_schedule img {
   position: absolute;
   width: 19px;
   height: 18px;    
   vertical-align: middle;
}

.artist h1 {
   margin-left: 15px;
}

.schedule_star {
   position: absolute;
   left: 1px;
   top: -17px;
   z-index: 1000;
}

#maincontent .badge {
	display: block;
	position: absolute;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

#badge-qmobiili {
	width: 108px;
	height: 108px;
	right: 20px;
	bottom: 50px;
	background-image: url(../img/badge-qmobiili.png);
}

#badge-backlink {
	width: 43px;
	height: 45px;
	left: 10px;
	top: 18px;
	background-image: url(../img/badge-backlink.png);
}

.mainbutton {
    width: 90%;
    height: 20%;
}





#infolist {
	font-family: 'Amatic SC', Arial, sans-serif;
	font-size: 1.8333rem;
	font-weight: 700;
	line-height: 1.1364;
    margin: 0 0 50px;
}

#infolist li {
	padding-bottom: 2px;
}

#infolist li+li {
	border-top: 1px dotted #d6af78;
	padding: 2px 0;
}

#infolist a.mainmenu_item {
    background:none;
    color: #000000;
    font-size: 1.83333rem;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.info-icons{

    height: 40px;
    width:40px;
    margin:0 8px 0 0;

}



#map-info>header {
	position: absolute;
    top: 0;
    width: 100%;
    height:105px;
}



.alerts_on, .alerts_off{

    float:right;
    height: 40px;
    width:40px; 
    margin: -9px 0 0 0!important;


}


.alerts_on img, .alerts_off img {
    height: 42px;
    margin: 0px!important;
    width: 41px;
}

.sponsors img{
 margin:12px 0!important;
   
}

a{
    color:#ec2882;

}

#artistlist a, #timetable-scrollcontent a{
 color:#000000!important;

}

.btn-bands{
    left: 20px;
    position: absolute;
    top: 0px;
}

.btn-schedule{
    left: 65px;
    position: absolute;
    top: 75px;


}
.btn-map{
    position: absolute;
    right: 30px;
    top: 25px;


}
.btn-info{
    position: absolute;
    right: 12px;
    top: 115px;


}
.btn-pivo{
    bottom: 50px;
    left: 15px;
    position: absolute;


}

.btn-bands img, .btn-schedule img, .btn-map img, .btn-info img, .btn-pivo img{
    width:100%;
    height: auto;

}

#bands_li img {
    display: inline-block;
	width: 19px;
	height: 18px;
    margin: -2px 10px 0 0;
	vertical-align: middle;
}

.item_star {
	width: 19px;
	height: 18px;
}

img#item_starred {
    position: absolute;
    z-index: 888;
    margin-left: -20px;
}

@media only screen and  (max-width: 380px) and (orientation: portrait)  {
    
#main-menu {
     height:320px;
     width:288px;
     margin:0 auto;
     position:relative;
}
    
    .btn-bands{
     width:114px;
}
    .btn-schedule{
     width:134px;
     
}
     .btn-map{
     width:108px;
     
}
     .btn-info{
     width:101px;
     
}
.btn-pivo{
     width:102px;
     
}
    
    
}

/*


@media only screen and (min-width: 321px) and (max-width: 481px) and (orientation: portrait)  {
    
#main-menu {
    height: 400px;
    width: 380px;
     margin:0 auto;
     position:relative;
}    
    
    .btn-bands{
     width:164px;
}
    .btn-schedule{
     width:184px;
     
}
     .btn-map{
     width:158px;
     
}
     .btn-info{
     width:151px;
     
}
.btn-pivo{
     width:152px;
     
}
    
    
}


*/



